body {
	text-align: center;
}

.appBody {
	padding-top: 8%;
	display: inline-block;
}

.mainCanvas {
    border: 1px solid black;
}

.thumbnail {
    width: 100px;
    height: 80px;
    border: 1px solid black;
	float: left
}

.cropButton {
	float: left;
	margin-top: 24px;
}

.separateStagePannels {
	padding-top: 30px
}

.styleSelector {
	float: left;
	padding-top: 30px;
}

.right {
    float: right;
}

.left {
	float: left;
}
