html { 
  background: url(./images/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
	text-align: center;
}

.header {
	width: 98%;
	max-height: 150px;
}

.appBody {
	padding-top: 1.5%;
	display: inline-block;
}

.sidemenu {
    display: table-cell;
	padding: 1em;
}

.mainContent {
    display: inline-block;
	padding: 1em;
}

.canvas {
    border: 1px solid black;
	background-color: white;
}

.thumbnail {
    width: 128px;
    height: 128px;
    border: 1px solid black;
	display: inline-block;
}

.imageControls {
	display: inline-block;
}

.imageInput {
	padding-bottom: 5px;
}

.controlButton {
	float: right;
}

.controlButtonImage {
    height: 30px;
}

.separateStagePannels {
	padding-bottom: 20px
}

.styleSelector {
	height: 30px;
}

.right {
    float: right;
}

.left {
	float: left;
}

.bordered {
	border: 1px solid block;
}
