.right {
    float: right;
}

.left-controls {
    float: left;
    margin-right: 10px;
}

.bordered {
    border: 1px solid black;
}

.thumbnail {
    width: 325px;
    height: 108px;
    border: 1px solid black;
}

.centered {
	display: inline-block
}

body {
	text-align: center;
}

.separate {
	padding-top: 50px
}
